.add-book-container {
    .new-book-nav {
        display: flex;
        justify-content: flex-end;
        margin-inline-end: 20px;
        a {
            text-decoration: none;
            transition: 0.3s;
            font-size: 1.3rem;
            &.router-link-exact-active {
                background-color: $clr3;
            }
        }
    }

    .new-edit-book-container {
        .new-edit-form {
            flex-grow: 1;
            form {
                label {
                    margin: 10px 0;
                    align-self: flex-start;
                }
                .on-sale-box {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                }
                select {
                    width: 100%;
                }
                option {
                    margin: 10px 0;
                }
                .categories {
                    height: 200px;
                    > * {
                        margin: 10px 0;
                    }
                }
            }
        }
        .thumbnail-wrapper {
            width: 50%;
            justify-self: end;
            img {
                width: 80%;
            }
        }
    }
    .google-add-book {
        input {
            width: 300px;
            height: 50px;
            font-size: 1.6rem;
        }
        .book-option {
            background: $clr2;
            margin: 20px 0;
            padding: 10px;
            border-radius: 10px;
            h2 {
                width: 80%;
            }
            img {
                width: 30%;
            }
            .option-details {
                width: 50%;
            }
        }
    }
}
@media (max-width: $mobile-breakpoint) {
    .add-book-container {
        .new-edit-book-container {
            flex-direction: column;
            .new-edit-form {
                align-items: center;
            }
            .thumbnail-wrapper {
                margin-top: 20px;
                width: 90%;
                align-self: center;
            }
        }
    }
}
