.user-msg{
    position: fixed;
    padding: 10px;
    top: 60px;
    left: 33%;
    background-color: white;
    z-index: 999;
    width: 35%;
}
.success{
    background: $clr1;
}
.faliure{
    background: $faliure-clr;
    color:white;
}