.edit-modal-container{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: background-color 0.3s;
    .edit-modal{
        background-color: white;
        width: 75%;
        height: 75vh;  
    }
}